html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

aside {
    display: inline;
    position: fixed;
    background-color: rgb(176, 176, 176, 0.5);
    opacity: 1;
    z-index: 1;

    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
}

.hexagono {
    height: 2.887em;
    position: absolute;
    width: 5em;
    background-color: rgb(131, 159, 164);
}

.hexagono:before {
    background: inherit;
    content: '';
    height: 100%;
    position: absolute;
    transform: rotate(-60deg);
    transform-origin: 50% 50%;
    width: 100%;
}

.hexagono:after {
    background: inherit;
    content: '';
    height: 100%;
    position: absolute;
    transform: rotate(60deg);
    transform-origin: 50% 50%;
    width: 100%;
}

.hexagono:hover {
    background-color: rgb(119, 207, 220);
}