.hex-puntiagudo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgb(131, 159, 164);
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-puntiagudo:hover {
    background-color: rgb(119, 207, 220);
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
}